<mat-card>
  <mat-card-title>Date picker</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Simple date" [matDatepicker]="simpleDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="simpleDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #simpleDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Filtered date"
        [min]="minDate"
        [matDatepicker]="filterDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="filterDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #filterDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Valid date"
        [min]="minDate"
        [matDatepicker]="validDate"
        [formControl]="dateCtrl"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="validDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #validDate></mat-datepicker>
      <mat-error align="end" *ngIf="dateCtrl.hasError('required')">
        A valid date mm/dd/yyyy is required.
      </mat-error>
    </mat-form-field>
  </mat-card-content>
</mat-card>
