<mat-sidenav-container class="container" autosize>
  <mat-sidenav #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/customers">
      Customers
    </button>
    <button color="primary" mat-button routerLink="/orders">Orders</button>
    <button color="primary" mat-button routerLink="/messages">Messages</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Title</span> <span class="spacer"></span>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>publish</mat-icon>
            <span>Share</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>mode_comment</mat-icon>
            <span>Comment</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
